.navbar{
    background-color: #363A45;
}

#navbarSupportedContent{
    flex-grow: 0;
}

nav img{
    width: 90px;
}

#tickets {
    color: #67AD3F;
}

.fondo-principal {
    position: relative;
    display: flex;
    text-align: right;
}


.img-fluid { 
    filter: brightness(50%); 
} 

.img-text-overlay {
    color: white;
    position: absolute;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 15%;
    right: 3%;
    left: 60%;

}


.img-text-title{
    position: absolute;
    color: honeydew;
    top: 35%;
    vertical-align: middle;
    align-content: flex-end;   
}


.container .card-group .card{
    margin-left: 20px ;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
}

.container .encabezado p{
    margin-top: 0.2em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.container .encabezado h2{
    margin-bottom: 0.2em;
    display: flex;
    justify-content: center;
}

.container-cards {
    display: flex;
    justify-content: space-evenly;
}

.caja {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

#azul {
    border: 2px solid #1886FC;
}

#verde {
    border: 2px solid #2CAABE;
}

#amarillo {
    border: 2px solid #FCC61E;
}

.caja p{
    font-size: 1.2rem;
    color: gray;
}

.caja .descuento {
    font-weight: bolder;
}

.forms {
    margin-top: 1em;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.forms p{
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
}

.forms .dotted{
    border-bottom: 1px dashed #999;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

.forms .titulos {
    margin-top: 1em;
    display: flex;
}

.forms h2{
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
}

.forms .mb-3{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.forms .mb-3 .form-control {
    max-width: 48%;
}

.forms .mb-correo {
    margin-bottom: 15px;
}

.forms .mb-3 div{
    display: block;
    width: 100%;
}

.forms .col-auto {
    display: flex;
    justify-content: space-between;
}

.forms .mb-4 .pie {
    justify-content: flex-start;
    color: #6c757d;
    font-size: 13px;
}

.forms .btn {
    width: 100%;
    background-color: #96C93E;    
}


.forms .btn-venta {
    max-width: 49%;
    width: 100%;
    background-color: #96C93E;
}


#cantidad {
    max-width: 100%;
    -moz-appearance: textfield;
    color: gray;
    
}

.categoria {
    margin-left: 25px;
}

#categorias {
    color: gray;
}


#resumen {
    margin-left: 10px;
}


footer {
    margin-top: 15px;
    background-color: #1E5170;
    color: white;
    padding: 20px;  
}

footer .row{
    width: 100%;
    max-width: 100% ;
    display: flex;
    align-items: center;
}

.compartida{
    padding: auto;
    max-width: 50%;
    background-color: #333A40;
    color: white;
}

.contenedor-compartida {
    display: flex;
    flex-direction: row;
}

.compartida img {
    width: 99%;
}


